<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="height: 90vh;">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center text-white align-items-sm-start" id="menu">
                    <li class="nav-item">
                        
                        <a href="#" class="nav-link text-white align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"> Home</span>
                        </a>
                    
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 text-white align-middle">
                            <span class="ms-1 d-none d-sm-inline"><i class="bi bi-person"></i> Profile</span>
                         </a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 text-white align-middle">
                            <span class="ms-1 d-none d-sm-inline"><i class="bi bi-file-text"></i> Diary</span>
                     </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 text-white align-middle">
                            <span class="ms-1 d-none d-sm-inline"><i class="bi bi-list-columns-reverse"></i> Session Summery</span>
                        
                    </a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle ">
                         <span class="ms-1 d-none d-sm-inline"><i class="bi bi-calendar-event-fill"></i> Session Calendar</span></a>
                    
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle">
                             <span class="ms-1 d-none d-sm-inline"><i class="bi bi-wallet2"></i> Pay</span> </a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle">
                             <span class="ms-1 d-none d-sm-inline"><i class="bi bi-chat-dots"></i> Chat</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>